{% extends 'layout-ios-sms.html' %}

{% block content %}
<div class="app-container">

    <!-- Header -->
    <header class="header">
      <div class="header-left">
        <img src="/images/contact-photo.png" alt="User Avatar" class="avatar">
        <span class="user-name">NHSApp</span>
      </div>
      <!-- <div class="header-right">
        <button class="info-button">i</button>
      </div> -->
    </header>

    <!-- Messages Container -->
    <div class="messages-container" style="word-wrap: break-word; display: block;">
      <!-- Incoming Message -->
      <div class="message incoming">
        <div class="message-content">
          <p>Hi,</p>

          <p>A new message is waiting for you in the NHS App.</p>

          <p>To read your message, log in using: <a href="/app-online-journey/pages/login-manual" class="">https://www.nhsapp.service.nhs.uk/patient/messages/app-messaging</a></p>
        </div>
      </div>
    </div>

    <!-- Message Input -->
    <div class="input-container">
      <input type="text" placeholder="Type a message..." class="message-input">
      <button class="send-button">Send</button>
    </div>
  </div>
  

{% endblock %}