{% extends 'layout-app.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Indentity confirmed
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0",
    href: "your-messages"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-top-4">

      <img style="max-width:100%;" class="nhsuk-u-margin-bottom-4" src="/images/cervical-letter-sample_Page_1.png" alt="">

    </div>
  </div>
{% endblock %}
