{% extends 'layout-mobile.html' %}

{% set pageHeading = "Sign in to the NHS App" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back to: Enter your email address",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0",
    href: "login-email"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Error Summary: Initially hidden -->
      {{ errorSummary({
        titleText: "There is a problem",
        classes: "error",
        errorList: [
          {
            text: "Enter your password",
            href: "#password"
          }
        ]
      }) }}
      
      <form id="passwordSubmit" method="POST" action="login">
        <h1 class="nhsuk-heading-l">Enter your password</h1>

        <p class="nhsuk-body">Enter your password to log in.</p>

        <div class="nhsuk-form-group" id="errorBorder"> 
          <label class="nhsuk-label" for="password">
            Password
          </label>
          <span class="nhsuk-error-message" id="password-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter your password
          </span>
          <input class="nhsuk-input" id="password" name="password" type="password" aria-describedby="password-error">
        </div>

        <p><a href="forgot-password">Reset your password</a>, if you cannot remember it.</p>
      
        <input type="hidden" name="password" value=""> <!-- Hidden field to send OS info -->

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
     </form>
      

    </div>
  </div>

  {% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const form = document.getElementById("passwordSubmit");
      const passwordInput = document.getElementById("password"); 
      const errorSummary = document.querySelector(".error");
      const passwordError = document.getElementById("password-error");
      const errorBorder = passwordInput.closest(".nhsuk-form-group");  // Get the parent form group of the email input.

      // Handle form submission
      form.addEventListener("submit", function(event) {
          // Check if email input is empty
          if (passwordInput.value.trim() === "") {
              // Show the error summary and error message if email input is empty
              errorSummary.style.display = "block";
              passwordError.style.display = "block";
              // Add error classes to highlight input and its parent form group
              errorBorder.classList.add("nhsuk-form-group--error");
              passwordInput.classList.add("nhsuk-input--error");

              // Prevent form submission
              event.preventDefault();
          } else {
              // Hide the error summary and error message if email input is not empty

          }
      });

  // Update form action when the page loads
  window.onload = updateFormAction;
  console.log("Operating System:", detectOperatingSystem());

  });


 
</script>
{% endblock %}

  


