{% extends 'layout-mobile.html' %}

{% set pageHeading = "Reset password" %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Error Summary: Initially hidden -->
      {{ errorSummary({
        titleText: "There is a problem",
        classes: "error",
        errorList: [
          {
            text: "Enter a password",
            href: "#password"
          },
          {
            text: "Enter a password again to confirm it",
            href: "#password"
          }
        ]
      }) }}
      
      <form id="passwordSubmit" method="POST" action="reset-confirmation">
        <h1 class="nhsuk-heading-l">Reset your password</h1>

        <div class="nhsuk-form-group" id="errorBorder"> 

        <p class="nhsuk-body">New password</p>

        <p class="nhsuk-hint">Your password must:</p>


        <ul class="nhsuk-hint">
          <li>have 8 characters or more</li> 
          <li>have one UPPERCASE letter or more</li> 
          <li>not start or end with a blank space</li> 
        </ul>
          <span class="nhsuk-error-message" id="password-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a password
          </span>
          <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password" aria-describedby="password-error">
        </div>

        <div class="nhsuk-form-group" id="errorBorder2"> 
          <label class="nhsuk-label" for="password">
            Confirm password
          </label>
          <span class="nhsuk-error-message" id="password-error2">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter a password again to confirm it
          </span>
          <input class="nhsuk-input nhsuk-input--width-20" id="password2" name="password" type="password" aria-describedby="password-error">
        </div>
      
        <input type="hidden" name="password" value=""> <!-- Hidden field to send OS info -->

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Reset password
        </button>
     </form>
      

    </div>
  </div>

  {% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const form = document.getElementById("passwordSubmit");
      const passwordInput = document.getElementById("password"); 
      const passwordInput2 = document.getElementById("password2"); 
      const errorSummary = document.querySelector(".error");
      const passwordError = document.getElementById("password-error");
      const passwordError2 = document.getElementById("password-error2");
      const errorBorder = passwordInput.closest(".nhsuk-form-group");  // Get the parent form group of the email input.
      const errorBorder2 = passwordInput2.closest(".nhsuk-form-group");  // Get the parent form group of the email input.

      // Handle form submission
      form.addEventListener("submit", function(event) {
          // Check if email input is empty
          if (passwordInput.value.trim() === "" || passwordInput2.value.trim() === "") {
              // Show the error summary and error message if email input is empty
              errorSummary.style.display = "block";
              passwordError.style.display = "block";
              passwordError2.style.display = "block";
              // Add error classes to highlight input and its parent form group
              errorBorder.classList.add("nhsuk-form-group--error");
              passwordInput.classList.add("nhsuk-input--error");
              passwordInput2.classList.add("nhsuk-input--error");
              errorBorder2.classList.add("nhsuk-form-group--error");

              // Prevent form submission
              event.preventDefault();
          } else {
              // Hide the error summary and error message if email input is not empty

          }
      });

//  // Function to detect the operating system
//   function detectOperatingSystem() {
//       const userAgent = navigator.userAgent || navigator.vendor || window.opera;

//       // Check for iOS
//       if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
//           return "iOS";
//       }
//       // Check for Android
//       else if (/android/i.test(userAgent)) {
//           return "Android";
//       }
//       // If neither, return Unknown
//       else {
//           return "Unknown OS";
//       }
//   }

//       // Function to modify the form action based on OS detection
//       function updateFormAction() {
//       const os = detectOperatingSystem();
//       const form = document.getElementById('passwordSubmit');

//       // Modify the form action based on the detected OS
//       if (os === "iOS") {
//           form.action = "messages-{{ data['accountType']}}";  // URL for iOS users
//       } else if (os === "Android") {
//           form.action = "home-{{ data['accountType'] }}";  // URL for Android users
//       } else {
//           form.action = "messages-{{ data['accountType']}}";  // URL for users with unknown OS
//       }
//   }

  // Update form action when the page loads
  // window.onload = updateFormAction;
  // console.log("Operating System:", detectOperatingSystem());

  });


 
</script>
{% endblock %}

  


