{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   View your NHS letter online
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Check your email</h1>
      
      <p class="nhsuk-body">
        We have sent an email to <b>test@email.com</b> with a link to reset your password.
      </p>
      <p class="nhsuk-body">
        You need to use this code within <b>1 hour</b> or it will expire.
      </p>
      <p class="nhsuk-body">
        If you do not get an email, check your spam folder or try again.
      </p>
      <p class="nhsuk-body">
        After you reset your password, go to the website or app you were trying to access and enter your NHS log in details.
      </p>

      {{ button({
        text: "Go back and enter password",
        href: "login-password"
      }) }}

    </div>
  </div>
{% endblock %}
