{% extends 'layout.html' %}

{% set pageHeading = "Sign in to the NHS App" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Access your NHS services</h1>

      <p class="nhsuk-body">Log in to your NHS account to access services online on your computer, tablet or mobile phone. You do not need to download anything.</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Order repeat prescriptions</li>
        <li>Book and manage appointments</li>
        <li>Get health information and advice</li>
        <li>View your health record securely</li>
        <li>View your NHS number</li>
      </ul>
    </div>

    <div class="nhsuk-grid-column-one-third login_nhs-app-mobile-hide">
      <div class="nhsuk-card nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content" id="desktop-app-panel">
          <p><strong>Get the NHS App on your smartphone or tablet</strong></p>
          <p>You can also log in to your NHS account using the NHS App.</p>
          <ul class="nhsuk-list">
            <li>
              <a href="#" class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-right-3">
                <img alt="Download on the App Store" src="/images/ios-app-store.png">
              </a>
            </li>
            <li>
              <a href="#">
                <img alt="Get it on Google Play" src="/images/google-play-store.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-body">Log in to your account to:</p>

      <h2 class="nhsuk-heading-m">Who can have an NHS account</h2>

      <p class="nhsuk-body">You can have an account if you are:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Registered with a GP surgery in England</li>
        <li>Aged 13 or over</li>
      </ul>

      <p class="nhsuk-body"><a href="/">Find out more about who can have an NHS account</a></p>

      {{ button({
        text: "Continue",
        classes: "nhsuk-button--blue",
        href: "login-email"
      }) }}

      <div class="login_nhs-app-mobile-show">
        <div class="nhsuk-card nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card__content" id="desktop-app-panel">
            <p><strong>Get the NHS App on your smartphone or tablet</strong></p>
            <p>You can also log in to your NHS account using the NHS App.</p>
            <ul class="nhsuk-list">
              <li>
                <a href="#" class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-right-3">
                  <img alt="Download on the App Store" src="/images/ios-app-store.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img alt="Get it on Google Play" src="/images/google-play-store.png">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <p class="nhsuk-body">To find out more about health conditions, symptoms, treatments and how to get help, without logging in:</p>

      {{ actionLink({
        text: "Go to the NHS website",
        href: "#"
      }) }}
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
    
<script>
  const parameter = localStorage.getItem("parameter")

  console.log(parameter);
</script>
{% endblock %}
