{% extends 'layout-mobile.html' %}

{% set pageHeading = "Sign in to the NHS App" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-xl">Log in to view your NHS App message</h1>
      <p class="nhsuk-body">Use this service to read messages from the NHS about your healthcare.</p>

      {{ insetText({
        html: "<p>We may need to send you a security code on your mobile phone, so you can log in.</p>"
      }) }}

      {{ button({
        text: "Log in or open NHS App",
        classes: "nhsuk-button--blue",
        href: "login-email"
      }) }}

      <h2 class="nhsuk-heading-l">Download the NHS App</h2>
      <p class="nhsuk-body">You can also download the NHS App on your smartphone or tablet.</p>
        
      <div class="nhsuk-u-margin-bottom-5">
        <img alt="Download on the App Store" src="/images/ios-app-store.png">
      </div>

      <div class="nhsuk-u-margin-bottom-7">
        <img alt="Get it on Google Play" src="/images/google-play-store.png">
      </div>

      <h2 class="nhsuk-heading-l">For health information</h2>
      <p class="nhsuk-body">To find out more about conditions, symptoms, treatments and how to get help, without logging in:</p>
      {{ actionLink({
        text: "Go to the NHS website",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
    
{% endblock %}
