{% extends 'layout-mobile.html' %}

{% set pageHeading = "Sign in to the NHS App" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back to: Enter your email address",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0",
    href: "login-email"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Error Summary: Initially hidden -->
      {{ errorSummary({
        titleText: "There is a problem",
        classes: "error",
        errorList: [
          {
            text: "Enter your password",
            href: "#password"
          }
        ]
      }) }}
      
      <form id="passwordSubmit" method="POST" action="login">
        <h1 class="nhsuk-heading-l">Enter your password</h1>

        <p class="nhsuk-body">Enter your password to log in.</p>

        <div class="nhsuk-form-group" id="errorBorder"> 
          <label class="nhsuk-label" for="password">
            Password
          </label>
          <span class="nhsuk-error-message" id="password-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> Enter your password
          </span>
          <input class="nhsuk-input" id="password" name="password" type="password" aria-describedby="password-error">
        </div>

        <p><a href="forgot-password">Reset your password</a>, if you cannot remember it.</p>
      
        <input type="hidden" name="password" value=""> <!-- Hidden field to send OS info -->


        {{ button({
          id: "continueButton",
          text: "Continue",
          classes: "nhsapp-button",
          href: "login"
        }) }}
     </form>
      

    </div>
  </div>

  {% endblock %}

{% block pageScripts %}
{% endblock %}

  


