{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Indentity confirmed
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0",
    href: "dob"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form id="form" method="post" action="/online-journey/view-letter" novalidate="novalidate">

        {{ nhsappPanel({
          titleText: "Identity confirmed",
          html: "We have confirmed your identity, you can now view your letter"
        }) }}

        <h1 class="nhsuk-heading-l">You have an unread letter</h1>

        <p>To view this letter, use the button below.</p>


        {{ button({
          text: "View letter",
          classes: "nhsapp-button"
        }) }}
    </form>

    </div>
  </div>
{% endblock %}
