{% extends 'layout-ios-locked-screen.html' %}

{% block content %}
    
  <a id="ios-notification" class="ios-notification" href="sms">
    <img class="ios-notification-icon" src='/images/message_logo.png' alt="">
    <div class="ios-notification-message">
      <div class="ios-notification-app">NHS</div>
      <div class="ios-notification-content">
        <p class="nhsuk-body-s">You have new message.</p>

      </div>
    </div>
    <div class="ios-notification-time">now</div>
  </a>

{% endblock %}

{% block pageScripts %}
<script>
    // Example function to change the query parameter in the URL
    function setQueryParam(name, value) {
        const url = new URL(window.location.href); // Get the current URL
        url.searchParams.set(name, value);  // Set or update the query parameter
        window.history.pushState({}, "", url); // Update the URL without reloading the page
    }

    // Usage: Set or update the "journey" query parameter to "1"
    setQueryParam("journey", "1");


</script>
{% endblock %}